/* =========================
AUTH PAGE
========================= */

.auth-container{

display:flex;
justify-content:center;
align-items:center;

min-height:80vh;

}

/* tarjeta login */

.auth-card{

width:420px;

background:rgba(255,255,255,0.07);

border-radius:18px;

padding:40px;

backdrop-filter:blur(15px);

border:1px solid rgba(255,255,255,0.15);

box-shadow:
0 15px 40px rgba(0,0,0,0.6);

text-align:center;

animation:fadeIn .6s ease;

}

/* titulo */

.auth-card h2{

margin-bottom:25px;

font-size:28px;

color:#4ade80;

}

/* inputs */

.auth-card input{

width:100%;

padding:12px;

margin-bottom:15px;

border-radius:10px;

border:none;

background:rgba(255,255,255,0.12);

color:white;

font-size:15px;

}

/* boton */

.auth-btn{

width:100%;

padding:14px;

border:none;

border-radius:12px;

background:linear-gradient(45deg,#22c55e,#4ade80);

font-weight:bold;

cursor:pointer;

transition:all .3s;

}

.auth-btn:hover{

transform:translateY(-3px);

box-shadow:
0 10px 30px rgba(0,255,150,0.5);

}

/* link */

.auth-link{

margin-top:18px;

display:block;

color:#4ade80;

text-decoration:none;

}

.auth-link:hover{

text-decoration:underline;

}

/* animación */

@keyframes fadeIn{

from{

opacity:0;
transform:translateY(20px);

}

to{

opacity:1;
transform:translateY(0);

}

}