<!DOCTYPE html>
<html lang="es">

<head>

<meta charset="UTF-8">
<title>Sistema Ganadero</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<!-- fondo animado -->
<canvas id="bg-canvas"></canvas>

<header class="navbar">

<div class="logo">
🐄 AgroManager
</div>

<nav>

<a href="/">Inicio</a>

<a href="/registrar_animal">Registrar Animal</a>

<a href="/logout">Salir</a>

</nav>

</header>

<div class="main-container">

{% block content %}
{% endblock %}

</div>

<script src="{{ url_for('static', filename='js/app.js') }}"></script>

</body>

</html>